<f:if condition="{element.current} || {element.active}">
  <f:then>
    <f:if condition="{element.current}">
      <f:then>
        <f:link.page pageUid="{element.data.uid}" class="{id}__link submenu__link current" additionalAttributes="{aria-current:'page', role:'menuitem'}"><span class="text"><f:render partial="Rendering/Menu/ElementText" arguments="{element:element}" /></span></f:link.page>
      </f:then>
      <f:else>
        <f:variable name="activeLabel" value="{f:translate(key: 'LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:menu.activeLink.label', arguments:{0:element.title})}" />
        <f:link.page pageUid="{element.data.uid}" class="{id}__link submenu__link current" additionalAttributes="{aria-label:activeLabel, role:'menuitem'}"><span class="text"><f:render partial="Rendering/Menu/ElementText" arguments="{element:element}" /></span></f:link.page>
      </f:else>
    </f:if>
  </f:then>
  <f:else>
    <f:link.page pageUid="{element.data.uid}" class="{id}__link submenu__link" additionalAttributes="{role:'menuitem'}"><span class="text"><f:render partial="Rendering/Menu/ElementText" arguments="{element:element}" /></span></f:link.page>
  </f:else>
</f:if>