<ul id="{id}-sublist-{parentId}" class="submenu__list is-menu">
    <f:for each="{subpages}" as="subpage">
        <li class="{id}__element">
            <f:if condition="{subpage.hasSubpages} && {subpage.children}">
                <f:then>
                    <div class="{id}__submenu submenu">
                        <f:render partial="Rendering/Menu/ToggleButton" arguments="{id:id, element:subpage, parentId:subpage.data.uid}" />
                        <f:render partial="Rendering/Menu/Sublist" arguments="{id:id, parentId: subpage.data.uid, subpages:subpage.children}" />
                    </div>
                </f:then>
                <f:else>
                    <f:render partial="Rendering/Menu/Link" arguments="{id:id, element:subpage}" />
                </f:else>
            </f:if>
        </li>
    </f:for>
</ul>
