<div id="c{ttContentData.uid}" class="frame">
    <f:if condition="{f:count(subject:pages)} > 1">
        <f:then>
            <ul>
                <f:for each="{pages}" as="page">
                    <li><f:link.page pageUid="{page.uid}">{page.title}</f:link.page></li>
                </f:for>
            </ul>
        </f:then>
        <f:else>
            <f:for each="{pages}" as="page">
                <f:link.page pageUid="{page.uid}">{page.title}</f:link.page>
            </f:for>
        </f:else>
    </f:if>
</div>
