<f:comment>
    This partial can be used to render menus.
    
    Variables:
    - navId
    - menu
    - label
    - menuClass (optional)
    - menuElementClass (optional)
</f:comment>

<nav id="{navId}" aria-label="{label}">
    <ul{f:if(condition:menuClass, then: ' class="{menuClass}"')}>
        <f:for each="{menu}" as="element">
            <li{f:if(condition:menuElementClass, then: ' class="{menuElementClass}"')}>
                <f:link.page pageUid="{element.data.uid}" class="link">{element.title}</f:link.page>
            </li>
      </f:for>
    </ul>
</nav>