<f:comment>
    This partial can be used to render menus.

    Variables:
    - id
    - menu
    - label
    - additionalClasses (optional)
    - doNotRenderChildren (optional)
</f:comment>

<nav id="{id}" aria-labelledby="header_{id}">
    <f:if condition="{level}">
        <f:then>
            <f:variable name="headlineTag">h{level}</f:variable>
        </f:then>
        <f:else>
            <f:variable name="headlineTag" value="h2"/>
        </f:else>
    </f:if>
    <{headlineTag} id="header_{id}" class="sr-only">{label}</{headlineTag}>
<ul class="{id}{f:if(condition:additionalClasses, then: ' {additionalClasses}')}">
    <f:for each="{menu}" as="element">
        <f:if condition="{element.spacer}">
            <f:then>
                <li class="{id}__element menu-divider"><hr class="divider divider--menu" /></li>
            </f:then>
            <f:else>
                <li class="{id}__element">
                    <f:if condition="{element.hasSubpages} && {element.children} && !{doNotRenderChildren}">
                        <f:then>
                            <div class="{id}__sub-container">
                                <f:render section="link" arguments="{id:id, element:element}" /><f:render section="button" arguments="{id:id, element:element,parentId:element.data.uid}" />
                                <f:render section="sublist" arguments="{id:id, parentId:element.data.uid, subpages:element.children}" />
                            </div>
                        </f:then>
                        <f:else>
                            <f:render section="link" arguments="{id:id, element:element}" />
                        </f:else>
                    </f:if>
                </li>
            </f:else>
        </f:if>
    </f:for>
</ul>
</nav>

<f:section name="sublist">
    <ul id="{id}-sublist-{parentId}" class="{id}__submenu is-menu">
        <f:for each="{subpages}" as="subpage">
            <li class="{id}__element">
                <f:if condition="{subpage.hasSubpages} && {subpage.children}">
                    <f:then>
                        <div class="{id}__sub-container">
                            <f:render section="link" arguments="{id:id, element:subpage}" /><f:render section="button" arguments="{id:id, element:subpage, parentId:subpage.data.uid}" />
                            <f:render section="sublist" arguments="{id:id, parentId: subpage.data.uid, subpages:subpage.children}" />
                        </div>
                    </f:then>
                    <f:else>
                        <f:render section="link" arguments="{id:id, element:subpage}" />
                    </f:else>
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>

<f:section name="link">
    <f:if condition="{element.current} || {element.active}">
        <f:then>
            <f:if condition="{element.current}">
                <f:then>
                    <f:link.page pageUid="{element.data.uid}" class="{id}__link current" additionalAttributes="{aria-current:'page'}"><span class="text"><f:render section="elementText" arguments="{element:element}" /></span></f:link.page>
                </f:then>
                <f:else>
                    <f:variable name="activeLabel" value="{f:translate(key: 'LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:menu.activeLink.label', arguments:{0:element.title})}" />
                    <f:link.page pageUid="{element.data.uid}" class="{id}__link current" additionalAttributes="{aria-label:activeLabel}"><span class="text"><f:render section="elementText" arguments="{element:element}" /></span></f:link.page>
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:link.page pageUid="{element.data.uid}" class="{id}__link"><span class="text"><f:render section="elementText" arguments="{element:element}" /></span></f:link.page>
        </f:else>
    </f:if>
</f:section>

<f:section name="button">
    <button class="cta cta--icon js-submenu-toggle" aria-controls="{id}-sublist-{parentId}" aria-expanded="false" aria-label="{f:translate(key: 'LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:menu.button.label', arguments:{0:element.title})}"><span class="cta__icon svg--primary"><f:cObject typoscriptObjectPath="lib.submenuIcon" /></span></button>
</f:section>

<f:section name="elementText">
    <f:if condition="{element.navTitle}">
        <f:then><f:format.html>{element.navTitle}</f:format.html></f:then>
        <f:else><f:format.html>{element.title}</f:format.html></f:else>
    </f:if>
</f:section>
