<f:comment>
    This partial can be used to render menus.
    
    Variables:
    - id
    - menu
    - label
    - additionalClasses (optional)
</f:comment>

<nav id="{id}">
    <h2 class="sr-only">{label}</h2>
    <ul class="{id}{f:if(condition:additionalClasses, then: ' {additionalClasses}')}">
        <f:for each="{menu}" as="element">
            <li class="{id}__element">
                <f:link.page pageUid="{element.data.uid}" class="{id}__link">{element.title}</f:link.page>
            </li>
      </f:for>
    </ul>
</nav>