<f:comment>
    This partial can be used to render a table of content of the given page
    
    Variables:
    - pageUid
    - minLevel (optional)
    - maxLevel (optional)
</f:comment>

<f:if condition="{minLevel} && {maxLevel}">
    <f:then>
        <f:variable name="toc" value="{siteSetup:toc(pageUid:pageUid, minLevel:minLevel, maxLevel:maxLevel)}" />
    </f:then>
    <f:else>
        <f:if condition="{minLevel}">
            <f:then>
                <f:variable name="toc" value="{siteSetup:toc(pageUid:pageUid, minLevel:minLevel)}" />
            </f:then>
            <f:else>
                <f:if condition="{maxLevel}">
                    <f:then>
                        <f:variable name="toc" value="{siteSetup:toc(pageUid:pageUid, maxLevel:maxLevel)}" />
                    </f:then>
                    <f:else>
                        <f:variable name="toc" value="{siteSetup:toc(pageUid:pageUid)}" />
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </f:else>
</f:if>

<f:if condition="{toc}">
    <nav id="table-of-contents" aria-labelledby="toc-label" class="toc">
        <h2 id="toc-label" class="toc__heading"><f:translate key="LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:toc.label" /></h2>
        <f:render section="toc" arguments="{toc:toc}" />
    </nav>
</f:if>

<f:section name="toc">
    <ul class="toc__list">
        <f:for each="{toc}" as="element">
            <li class="toc__item">
                <f:link.page pageUid="{element.pid}" section="c{element.uid}" absolute="true">{element.header}</f:link.page>

                <f:if condition="{element.subheader}">
                    <f:render section="toc" arguments="{toc:element.subheader}" />
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>