<f:comment>
    This partial can be used to render a table of content with the given toc array
    
    Variables:
    - pageUid
    - toc array
</f:comment>

<f:if condition="{toc}">
    <div class="toc-container">
        <f:link.page pageUid="{pageUid}" section="skip-toc" absolute="true" class="sr-only sr-only-focusable"><f:translate key="LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:toc.skip" /></f:link.page>
        <nav id="table-of-contents" aria-labelledby="toc-label" class="toc">
            <h2 id="toc-label" class="toc__heading"><f:translate key="LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:toc.label" /></h2>
            <f:render section="toc" arguments="{toc:toc}" />
        </nav>
    </div>
    <div id="skip-toc"></div>
</f:if>

<f:section name="toc">
    <ol class="toc__list">
        <f:for each="{toc}" as="element">
            <li class="toc__item">
                <f:if condition="{element.header}">
                    <f:link.page pageUid="{element.pid}" section="c{element.uid}" absolute="true" class="toc__link"><f:format.html>{element.header}</f:format.html></f:link.page>
                </f:if>

                <f:if condition="{element.subheader}">
                    <f:render section="toc" arguments="{toc:element.subheader}" />
                </f:if>
            </li>
        </f:for>
    </ol>
</f:section>
