<f:switch expression="{data.layout}">
    <f:case value="1"><f:variable name="spacing" value="half"/></f:case>
    <f:case value="2"><f:variable name="spacing" value="no"/></f:case>
    <f:case value="3"><f:variable name="sameHeight" value="1"/></f:case>
    <f:defaultCase><f:variable name="spacing" value="default"/></f:defaultCase>
</f:switch>

<div id="c{data.uid}" class="frame {spacing}-spacing">
    <div class="grid grid--three-column{f:if(condition:sameHeight,then:' grid--same-height')}">
        <div class="grid__column">
            <f:render partial="Rendering/Records" arguments="{records:children_201}" />
        </div>
        <div class="grid__column">
            <f:render partial="Rendering/Records" arguments="{records:children_202}" />
        </div>
        <div class="grid__column">
            <f:render partial="Rendering/Records" arguments="{records:children_203}" />
        </div>
    </div>
</div>
