<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="c{data.uid}" class="frame frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')}">
    <section class="carousel swiper-container" aria-labelledby="c{data.uid}-heading">
        <f:render partial="Header/All" arguments="{_all}" />

        <div class="carousel-actions">
            <button class="carousel__button carousel__button--prev swiper-button-prev" aria-label="prev">PREV</button>
            <button class="carousel__button carousel__button--prev swiper-button-play" aria-label="play">PLAY</button>
            <button class="carousel__button carousel__button--prev swiper-button-stop" aria-label="stop">STOP</button>
            <button class="carousel__button carousel__button--next swiper-button-next" aria-label="next">NEXT</button>
        </div>

        <ul class="carousel__container swiper-wrapper">
            <f:for each="{files}" as="file">
                <li class="carousel__element swiper-slide">
                    <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings}" />
                </li>
            </f:for>
        </ul>
    </section>
</div>

</html>
