<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <div class="tx-sitesetup-tstamp">
        <f:variable name="format" value="{f:translate(key:'LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:dateformat')}" />
        <f:variable name="crDate" value="{f:format.date(date:crDate,format:format)}" />
        <f:variable name="lastEdit" value="{f:format.date(date:lastChange,format:format)}" />

        <p><f:translate key="LLL:EXT:site_setup/Resources/Private/Language/locallang.xlf:lastPageEdit.page.edit" arguments="{0:crDate,1:lastEdit}" /></p>
    </div>

</f:section>

</html>