<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <f:switch expression="{data.layout}">
        <f:case value="1"><f:variable name="severity" value="info"/></f:case>
        <f:defaultCase><f:variable name="severity" value="attention"/></f:defaultCase>
    </f:switch>

    <div class="notification notification--{severity}">
        <strong>
            <div class="notification__icon">
                <span class="svg"><f:cObject typoscriptObjectPath="lib.inlineSvg" data="{src:'{iconFolder}{severity}.svg'}" /></span>
            </div>
            <div class="notification__content">
                <div class="notification__header">
                    <f:render partial="Header/All" arguments="{_all}" />
                </div>
                <div class="notification__bodytext">{data.bodytext}</div>
            </div>
        </strong>
    </div>

</f:section>

<f:comment>
    Override header section to get the basic wrapping without the header
</f:comment>
<f:section name="Header"></f:section>

</html>
